
.question-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    margin: 5px;
}



.question-content {
    display: none;
    padding: 20px;
    border-radius: 10px;
}

.active-question {
    display: block;
}

.form-check label {
    opacity: 1 !important; /* Tất cả đáp án đều rõ ràng */
    color: black !important; /* Màu chữ bình thường */
    font-weight: normal;
    text-shadow: none; /* Xóa hiệu ứng phát sáng */
}

/* Đáp án đúng sẽ được làm nổi bật hơn */
.form-check.text-success label {
    font-size: 18px;
    font-weight: bold;
    color: #218838 !important; /* Màu xanh đậm */
}

/* Đáp án sai của thí sinh vẫn giữ màu đỏ */
.form-check.text-danger label {
    font-weight: bold;
    color: #dc3545 !important;
}

.form-check:hover label {
    opacity: 1;
}

.question-box {
    transition: 0.3s;
    border: 2px solid transparent;
}

.correct {
    background-color: #28a745;
    border-color: #218838;
}

.incorrect {
    background-color: #dc3545;
    border-color: #c82333;
}


.btn-primary i {
    font-size: 18px;
    margin-right: 5px;
}

.btn-warning {
    background-color: #ff9800; /* Màu cam tươi */
    border-color: #e68900;
}

    .btn-warning:hover {
        background-color: #e68900;
        border-color: #c77700;
    }

.custom-btn-outline {
    border: 2px solid #28a745; /* Viền xanh lá */
    color: #28a745; /* Màu chữ */
    background: transparent;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

    .custom-btn-outline:hover {
        background: #28a745;
        color: white;
    }

.custom-btn-filled {
    background: #00A550; /* Màu xanh lá tươi */
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 28px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

    .custom-btn-filled:hover {
        background: #008F47; /* Đậm hơn khi hover */
        color: white;
    }



