@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Login</h2>
<form onsubmit="login(event)">
    <div id="loginError" class="text-danger" style="display:none;"></div>
    <div class="form-group">
        <label for="Username">Username</label>
        <input id="Username" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input id="Password" class="form-control" type="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>